<ul style="display: flex;     gap: 10px;">
    <button type="button" (click)="get400Error()" class="btn btn-outline-primary">Test 400 error</button>
    <button type="button" (click)="get404Error()" class="btn btn-outline-primary">Test 401 error</button>
    <button type="button" (click)="get500Error()" class="btn btn-outline-primary">Test 404 error</button>
    <!-- <button type="button" class="btn btn-outline-primary">Test 500 error</button>-->
    <button type="button" (click)="getValidationError()" class="btn btn-outline-primary">Test 400 validation error</button>

</ul>